# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore data files
yelp_academic*

# Ignore environment
venv/
.env

# Ignore system files
.DS_Store

#Ignore API Keys from Streamlit
.streamlit/secrets.toml